{% set pageKey = 'overview' %}

{% extends 'smart-search/index-mgmt/_layout' %}

{% block indexContent %}
    <div class="craftsearch-overview" data-craftsearch-target="overview-region">
        <div class="craftsearch-overview__content" data-craftsearch-target="overview-content">
            {% include 'smart-search/_partials/overview-content' with {
                setup: setup,
                overview: overview,
                syncStarted: syncStarted,
            } only %}
        </div>
    </div>
{% endblock %}
